.ShopPage {
  /* border: 2px dashed rgb(229, 215, 24); */
  display: flex;
  flex-grow: 1;
  padding: 20px;
  gap: 20px;
  max-width: 80dvw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 10px 0px;
}

@media (max-width: 1920px) {
  .ShopPage {
    display: flex;
    flex-grow: 1;
    max-width: 100dvw;
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .ShopPage {
    flex-direction: column;
    overflow: auto;
    gap: 5px;
    padding: 5px;
    /* font-size: clamp(0.3rem, 2vw, 2rem); */
  }

  .ProductGreed {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    padding: 2px;
    align-content: start;
    align-items: start;
    flex-grow: 1;
    overflow: auto;
    gap: 10px 5px;
    /* Сетка товаров тоже на всю ширину */
  }

  .ProductGreedHeader {
    border: 1px solid rgba(255, 217, 0, 0.5);
    display: flex;
    padding: 3px;
  }

  .ProductGreedHeader button {
    font-size: clamp(0.7rem, 1.3vw, 1rem);
    padding: 3px;
  }

  .CategorySort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Product {
    width: 45%;
    max-width: 300px;
    aspect-ratio: 3/4.5;
    height: auto;
    min-height: auto;
    /* align-self: start; */
    font-size: clamp(0.6rem, 2vw, 1rem);
  }

  .Product button {
    padding: 3px;
    font-size: clamp(0.3rem, 2.5vw, 2rem);
  }

  .Product img {
    /* border: 1px solid rgba(255, 217, 0, 0.500); */
    height: 50%;
    object-fit: contain;
  }

  .OrderModal {
    width: 100%;
    height: 100%;
    font-size: clamp(1rem, 1rem, 2rem);
  }

  .OrderModalContent {
    width: 90dvw;
    height: 90dvh;
    min-height: 80dvh;
    min-width: unset;
    gap: 5px;
  }

  .OrderModalHeader {
    font-size: clamp(0.6rem, 0.7rem, 1rem);
  }

  .OrderModalBody {
    flex-shrink: 1;
    max-height: none;
  }
}

/* .ProductInCart input::-webkit-outer-spin-button,
.ProductInCart input::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    opacity: 1;
} */

.Active {
  font-weight: 900;
}

.ShopSideBar::-webkit-scrollbar,
.SideBar::-webkit-scrollbar,
.ProductGreedBody::-webkit-scrollbar,
.OrderModalBody::-webkit-scrollbar,
.CartItemsList::-webkit-scrollbar,
.ShopPage::-webkit-scrollbar {
  display: none;
}
